*
!sysroot.tar.gz
!copy-deps.sh
!arm_cross_build_process.sh
!cmake_toolchain_armhf.cmake
!docker/Dockerfile.armhf-cross
!docker/tarballs/sysroot-armhf.tar.gz
!docker/tarballs/qt6-host-installed.tar.gz
!docker/tarballs/qt6-armhf-cross-installed.tar.gz
!build_qt6_armhf_cross.sh
!docker/Dockerfile.qt6-build
!verify_host_packages.sh
!verify_qt6_cross.sh
!verify_sysroot.sh
