QWidget[&&property&&=true] {
    background-color: &highlight&;
    border: 1px solid &background_deep&;
    border-radius: 8px;
    padding: 10px;
    color: &background&;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

QWidget[&&property&&=true]:hover {
    border-color: &background&;
}

QWidget[&&property&&=true]:checked {
    background-color: &background&;
    border-color: &background_deep&;
}

