CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
moc_*.cpp
*_automoc.cpp
ui_*.h
build*
deps
scopy
android/assets/libsigrokdecode/*
android/assets/python3.*/*
resources/stylesheets/default.qss
resources/stylesheets/light.qss
!android/src/org/adi/scopy
*.swp
android-build
android*.sh
*.apk
*.aab
!CI/android/*
html/
build_arm64-v8a/
