CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
moc_*.cpp
*_automoc.cpp
ui_*.h
build*
deps
scopy
iio-emu
android/assets/libsigrokdecode/*
android/assets/python3.*/*
resources/scopy_osp.html
resources/stylesheets/default.qss
resources/stylesheets/light.qss
resources/credits.html
resources/scopy_home.html
resources/about.html
*qt.conf
!android/src/org/adi/scopy
*.swp
*.DS_Store
android-build
android*.sh
*.apk
*.aab
!CI/android/*
html/
build_arm64-v8a/
doc/*
!doc/Doxyfile
.cache/*
build/*
.vscode/*
ci/ubuntu/staging
ci/macOS/staging
windows/*
core/include/scopy-core_config.h
core/include/scopy-core_export.h
core/include/core/scopy-core_config.h
core/include/core/scopy-core_export.h
common/include/common/scopy-common_config.h
common/include/common/scopy-common_export.h
gr-util/include/gr-util/scopy-gr-util_export.h
gui/gr-gui/include/gr-gui/scopy-gr-gui_export.h
gui/gr-gui/include/gr-gui/scopy-gr-gui_config.h
gui/include/gui/scopy-gui_export.h
gui/include/gui/scopy-gui_config.h
gui/sigrok-gui/include/sigrok-gui/scopy-sigrok-gui_export.h
gui/sigrok-gui/include/sigrok-gui/scopy-sigrok-gui_config.h
iio-widgets/include/iio-widgets/scopy-iio-widgets_export.h
iioutil/include/iioutil/scopy-iioutil_export.h
pluginbase/include/pluginbase/scopy-pluginbase_config.h
pluginbase/include/pluginbase/scopy-pluginbase_export.h
plugins/regmap/include/regmapplugin/scopy-regmapplugin_export.h
plugins/regmap/include/regmapplugin/scopy-regmapplugin_config.h
plugins/bareminimumplugin/include/bareminimumplugin/scopy-bareminimumplugin_export.h
plugins/datalogger/include/datalogger/scopy-datalogger_export.h
plugins/debugger/include/debuggerplugin/scopy-debuggerplugin_export.h
plugins/guitestplugin/include/guitestplugin/scopy-guitestplugin_export.h
plugins/m2k/include/m2kplugin/scopy-m2kplugin_export.h
plugins/swiot/include/swiot/scopy-swiot_export.h
plugins/adc/include/adcplugin/scopy-adcplugin_export.h
plugins/pqm/include/pqmplugin/scopy-pqmplugin_export.h
plugins/testplugin/include/testplugin/scopy-testplugin_export.h
plugins/testplugin2/include/testplugin2/scopy-testplugin2_export.h
plugins/swiotrefactor/include/swiotrefactor/scopy-swiotrefactor_export.h
