QLineEdit[&&property&&=true] {
	border: &border_width& solid &content_subtle&;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}
