#include <windows.h>
#include "config.h"
AppIcon ICON DISCARDABLE "icon.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        SCOPY_COMPANYNAME_STR
            VALUE "FileDescription",    SCOPY_FILEDESCRIPTION_STR
            VALUE "InternalName",       SCOPY_INTERNALNAME_STR
            VALUE "LegalCopyright",     SCOPY_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks",    SCOPY_LEGALTRADEMARKS_STR
            VALUE "OriginalFilename",   SCOPY_ORIGINALFILENAME_STR
            VALUE "ProductName",        SCOPY_PRODUCTNAME_STR
            VALUE "ProductVersion",     SCOPY_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
