QPushButton[&&property&&=true] {
    border-radius: &radius_1&;
    background-color: &interactive_primary_idle&;
    color: &content_inverse&;
}
QPushButton[&&property&&=true]:hover {
    background-color: &interactive_primary_hover&;
    color: &content_inverse&;
}

QPushButton[&&property&&=true]:pressed {
    background-color: &interactive_primary_pressed&;
    color: &content_inverse&;
}
