QPushButton[&&property&&=true] {
	width: 82px;
	height: 32px;
	border-radius: &radius_1&;
	text-align: center;
	padding: &padding_1&;
	color: &content_inverse&;
        background-color:&content_error&;
}

QPushButton[&&property&&=true]:hover {
    background-color: &interactive_accent_pressed&;
    color: &content_inverse&;
}
QPushButton[&&property&&=true]:disabled {
        background-color: &interactive_subtle_disabled&;
}
