QPushButton[&&property&&=true] {
	width: &unit_2_5&px;
	height: &unit_2_5&px;
	border-style: outset;
    	border-radius: &radius_1&;
	background-color:&background_primary&;
	qproperty-iconSize: &unit_4&px;
}

QPushButton[&&property&&=true]:checked {
	background-color:&interactive_primary_idle&;
}

QPushButton[&&property&&=true]:pressed {
	background-color:&interactive_primary_idle&;
}
