QPushButton[&&property&&=true] {
    border-radius: &radius_1&;
    background-color: transparent;
    color: &content_inverse&;
    font-weight: bold;
}
QPushButton[&&property&&=true]:hover {
    background-color: &interactive_subtle_hover&;
    color: &content_inverse&;
}

QPushButton[&&property&&=true]:pressed {
    background-color: &interactive_subtle_pressed&;
    color: &content_inverse&;
}
QPushButton[&&property&&=true]:disabled {
    background-color: transparent;
}
