QLabel[&&property&&=true] {
	color: &content_default&;
	background-color: rgba(255,255,255,0);
	font-weight: 500;
	font-family: Open Sans;
	font-size: 12px;
	font-style: normal;
}

QLabel[&&property&&=true]:disabled {
	color: grey;
}
