QTreeView[&&property&&=true] {
	border: &border_width& solid &interactive_subtle_disabled&;
	border-radius: &radius_1&;
	background-color: &background_primary&;
	show-decoration-selected: 0;
}

QTreeView::item[&&property&&=true]:selected {
	background-color: &interactive_primary_idle&;
}

