QMessageBox
{
        background-color: #272730;

}
QLabel
{
        height: 420px;
	width: 680px;
	color: rgba(255,255,255,240);
	font-family: Arial;
	font-size: 14px;
}

QPushButton
{
        height: 30px;
	width: 120px;
	background-color: #4A64FF;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
}
