QSlider[&&property&&=true]:handle {
	color: &interactive_subtle_idle&;
	border: 0px;
	max-width: 8px;
	margin: -8px 0;
	border-radius: 3px;
}
						
QSlider[&&property&&=true]:handle:vertical:hover {
	background-color: #4a4a4b;
}
						
QSlider[&&property&&=true]:groove {
	border: 0px;
	background-color: &interactive_secondary_disabled& ;
	margin: 2px 0;
	border-radius: 0px;
	max-width: 8px;
}
