QPushButton[&&property&&=true] {
    background-color: &background_2&;
    color: &highlight_1&;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

QPushButton[&&property&&=true]:hover {
    background-color: &highlight_color&;
}

QPushButton[&&property&&=true]:pressed {
    background-color: &highlight_color&;
}
