QPushButton[&&property&&=true] {
    background-color: &background_primary&;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

QPushButton[&&property&&=true]:hover {
    background-color: &background_color&;
}

QPushButton[&&property&&=true]:pressed {
    background-color: &background_secondary&;
}

QPushButton[&&property&&=true]:checked {
    background-color: &background_secondary&;
}

