QPushButton {
    background-repeat: no-repeat;
    background-position: center center;
}

QPushButton:enabled {
    background-image: url(:/icons/scopy-default/icons/play_stop.svg);
}

QPushButton[disabled=true][enabled=false] {
    background-image: url(:/icons/scopy-default/icons/play_stop.svg);
}

QPushButton:checked {
    background-image: url(:/icons/play_green.svg);
}
