QWidget[&&property&&=true] {
    border-radius: &radius_1&;
}
QWidget[&&property&&="left"] {
    border-top-left-radius: &radius_1&;
    border-bottom-left-radius: &radius_1&;
}
QWidget[&&property&&="right"] {
    border-top-right-radius: &radius_1&;
    border-bottom-right-radius: &radius_1&;
}
