QTableWidget QHeaderView::section {
    background-color: &background_primary&;
    border: 1px solid &background_secondary&;
}

QTableWidget QTableCornerButton::section {
    background-color: &background_primary&;
    border: 1px solid &background_secondary&;
}

QTableWidget {
    gridline-color: &background_secondary&;
}

QTableWidget::item:selected {
    background-color: &interactive_primary_hover&;
    color: &content_inverse&;
}
