QLineEdit[&&property&&=true] {
	background-color: transparent;
	color: &content_default&;
	font-size: 15px;
	border: 0px solid transparent;
	border-bottom: 1px solid &content_default&;
	border-radius: 0;
	padding: 2px;
	padding-bottom: 4px;
}

QLineEdit[&&property&&=true]:disabled {
	color: &content_subtle&;
}
