QLineEdit[&&property&&=true] {
	background-color: transparent;
	color: &content_default&;
	font-size: &font_size&;
	border: 0px solid transparent;
	border-bottom: 1px solid &content_default&;
	border-radius: 0;
	padding: 0 &padding_interactive& 0 &padding_interactive&;
}

QLineEdit[&&property&&=true]:disabled {
	color: &content_subtle&;
}
