name: Scopy x86_64 AppImage Build

on:
    workflow_call:
      inputs:
        docker_tag:
          required: true
          type: string

env:
  BUILD_HOST: ubuntu-latest
  USERNAME: github-actions
  CI_SCRIPT: "ON"

jobs:
  make_x86-64_appimage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
          include:
            - ubuntu: cristianbindea/scopy2-x86_64-appimage:${{ inputs.docker_tag }}
              os_name: Ubuntu 24
            - ubuntu: cristianbindea/scopy2-x86_64-appimage-ubuntu20:${{ inputs.docker_tag }}
              os_name: Ubuntu 20
      fail-fast: false # Disable fail-fast to run all matrix jobs even if one fails.
    name: ${{ matrix.os_name }}

    container:
        image: ${{ matrix.ubuntu }}
        options: --user root
    steps:
        - name: check storage space
          run: df -h
        - name: "Runner cleanup"
          run: |
            sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
        - run: df -h

        - uses: actions/checkout@v4
          with:
                set-safe-directory: 'true'
                fetch-depth: '0'

        - name: Create Scopy AppImage
          shell: bash
          run: |
                cd $GITHUB_WORKSPACE
                ./ci/x86_64/x86-64_appimage_process.sh run_workflow

        - name: Set short git commit SHA
          shell: bash
          run: |
                cd $GITHUB_WORKSPACE
                git config --global --add safe.directory $GITHUB_WORKSPACE
                echo "commit_sha=$(git rev-parse --short ${{ github.sha }})" >> "$GITHUB_ENV"

        - uses: actions/upload-artifact@v4
          with:
            name: ${{ env.app_image_folder }}-${{ env.commit_sha }} # app_image_folder and app_image_name are set in the x86-64_appimage_process.sh
            path: ${{ github.workspace }}/${{ env.app_image_name }}

        - name: check storage space
          run: df -h
