name: Scopy x86_64 AppImage Build

on: [push, pull_request]

env:
  BUILD_HOST: ubuntu-22.04
  USERNAME: github-actions

jobs:
  docker_tag_workflow:
    uses: ./.github/workflows/get_docker_tag.yml

  build_scopy_x86-64_appimage:
    runs-on: ubuntu-latest
    needs: docker_tag_workflow
    strategy:
      matrix:
        ubuntu:
        - cristianbindea/scopy2-x86_64-appimage:${{ needs.docker_tag_workflow.outputs.docker_tag }}
        - cristianbindea/scopy2-x86_64-appimage-ubuntu20:${{ needs.docker_tag_workflow.outputs.docker_tag }}
    name : Build Scopy x86_64 AppImage on ${{ matrix.ubuntu }}

    container:
        image: ${{ matrix.ubuntu }}
        options: --user root
    steps:
        - name: check storage space
          run: df -h
        - name: "Runner cleanup"
          run: |
            sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
        - run: df -h

        - uses: actions/checkout@v4
          with:
                set-safe-directory: 'true'
                fetch-depth: '0'

        - name: Create Scopy AppImage
          shell: bash
          run: |
                export CI_SCRIPT=ON
                cd $GITHUB_WORKSPACE
                ./ci/x86_64/x86-64_appimage_process.sh run_workflow

        - name: Set short git commit SHA
          shell: bash
          run: |
                cd $GITHUB_WORKSPACE
                git config --global --add safe.directory $GITHUB_WORKSPACE
                echo "commit_sha=$(git rev-parse --short ${{ github.sha }})" >> "$GITHUB_ENV"

        - uses: actions/upload-artifact@v4
          with:
            name: ${{ env.app_image_folder }}-${{ env.commit_sha }} # app_image_folder and app_image_name are set in the x86-64_appimage_process.sh
            path: ${{ github.workspace }}/${{ env.app_image_name }}

        - name: check storage space
          run: df -h
