name: License Header Check

on: [push, pull_request]

permissions:
  contents: read

env:
  BUILD_HOST: ubuntu-latest
  USERNAME: github-actions
  CI_SCRIPT: "ON"

jobs:
  check-license-headers:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: Validate Scopy GPL License
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            set-safe-directory: 'true'
      - name: Run License Scanner Utility
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE
          ./tools/license.sh
