name: linux-flatpak build

on: [push, pull_request]

env:
  BUILD_HOST: ubuntu-latest
  USERNAME: github-actions

jobs:

  make-flatpak:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Pull the Docker Image
      run: docker pull cristianbindea/scopy2-flatpak:latest

    - name: Run Docker Image
      run: |
            $GITHUB_WORKSPACE/ci/general/gen_ci_envs.sh > $GITHUB_WORKSPACE/ci/general/gh-actions.envs
            docker run --privileged \
                -e CI_SCRIPT='ON' \
                --mount type=bind,source="$GITHUB_WORKSPACE",target=$GITHUB_WORKSPACE \
                --env-file $GITHUB_WORKSPACE/ci/general/gh-actions.envs \
                cristianbindea/scopy2-flatpak:latest \
                /bin/bash -c 'sudo chown -R runner:runner $GITHUB_WORKSPACE && $GITHUB_WORKSPACE/ci/flatpak/flatpak_build_process.sh'

    - name: Set short git commit SHA
      shell: bash
      run: echo "commit_sha=$(git rev-parse --short ${{ github.sha }})" >> "$GITHUB_ENV"

    - uses: actions/upload-artifact@v4
      with:
        name: scopy-flatpak-${{ env.commit_sha }}
        path: ${{ github.workspace }}/Scopy.flatpak

    - name: Upload master flatpak build to continous prerelease
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      run: |
        DEPLOY_FILE=Scopy-${GITHUB_SHA::7}.flatpak
        ARTIFACT_ARCHIVE=Scopy-flatpak.tar.gz

        cp ${{ github.workspace }}/Scopy.flatpak ${DEPLOY_FILE}
        tar -czvf ${ARTIFACT_ARCHIVE} ${DEPLOY_FILE}

        wget https://github.com/tcnksm/ghr/releases/download/v0.13.0/ghr_v0.13.0_linux_amd64.tar.gz 
        tar xvf ghr_v0.13.0_linux_amd64.tar.gz

        ghr_v0.13.0_linux_amd64/ghr -u ${{ github.repository_owner }} -r scopy -name "Continuous build" -b "Latest succesful master build " -prerelease -debug -replace continous ${ARTIFACT_ARCHIVE}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
