name: Ubuntu Scopy Build

on:
    workflow_call:
      inputs:
        docker_tag:
          required: true
          type: string

env:
  BUILD_HOST: ubuntu
  USERNAME: github-actions
  CI_SCRIPT: "ON"

jobs:
  build_scopy_on_ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu:
          - cristianbindea/scopy2-ubuntu22:${{ inputs.docker_tag }}
          - cristianbindea/scopy2-ubuntu24:${{ inputs.docker_tag }}

    container:
        image: ${{ matrix.ubuntu }}
        options: --user root

    steps:
        - name: check storage space
          run: df -h
        - uses: actions/checkout@v4
        - name: Build Scopy
          run: |
            git config --global --add safe.directory $GITHUB_WORKSPACE
            $GITHUB_WORKSPACE/ci/ubuntu/ubuntu_build_process.sh build_scopy

        - name: Run Tests
          run: |
            sudo ldconfig
            cd $GITHUB_WORKSPACE/build
            QT_QPA_PLATFORM=offscreen ctest -V --output-on-failure --output-junit $GITHUB_WORKSPACE/test-result-ubuntu.xml

        - name: Report
          uses: mikepenz/action-junit-report@v4
          if: always()
          with:
             job_name: Verify Results
             check_name: 'Scopy Test'
             check_title_template: '{{TEST_NAME}}'
             report_paths: '${{github.workspace}}/test-result-ubuntu.xml'
             detailed_summary: 'true'
             fail_on_failure: 'true'
             require_tests: 'true'
             include_passed: 'true'

        - name: check storage space
          run: df -h