name: Ubuntu 22 Scopy Build

on: [push, pull_request]

env:
  BUILD_HOST: ubuntu-22.04
  USERNAME: github-actions

jobs:

  build_scopy_on_ubuntu22:
    runs-on: ubuntu-22.04
    container:
        image: cristianbindea/scopy2-ubuntu22:latest
        options: --user root
    steps:
        - uses: actions/checkout@v3

        - name: Build Scopy
          run: |
            git config --global --add safe.directory $GITHUB_WORKSPACE
            export CI_SCRIPT=ON && $GITHUB_WORKSPACE/ci/ubuntu/ubuntu_build_process.sh build_scopy

        - name: Run Tests
          run: |
            sudo ldconfig
            cd $GITHUB_WORKSPACE/build
            QT_QPA_PLATFORM=offscreen ctest -V --output-on-failure --output-junit $GITHUB_WORKSPACE/test-result-ubuntu22.xml

        - name: Report
          uses: mikepenz/action-junit-report@v3.7.8
          if: always()
          with:
             job_name: Verify Results
             check_name: 'Scopy Test'
             check_title_template: '{{TEST_NAME}}'
             report_paths: '${{github.workspace}}/test-result-ubuntu22.xml'
             detailed_summary: 'true'
             fail_on_failure: 'true'
             require_tests: 'true'
             include_passed: 'true'